body,html{
	height: 100%;
}

body{
	background-color: transparent;
	background-image:url('../img/laptop_code.jpg');
	background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
	overflow:hidden;

	font-size: 16px;
	font-family: "Arial";

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;

	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
}

.container{
	color: #FFF;
	text-align: center;
}

.container h1{
	text-shadow: 1px 3px 0 #4c4c4c;
}
.container .contacme{
	color: #FFF;
}
.contacme span{
	font-weight: bold;
	text-shadow: 1px 1px 0px black;
}
.contacme a{
	color: #faff37;
	font-style: italic;
}