---
const { id } = Astro.props
---
<section id={id}>
    <slot />
</section>
<style>
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 2em;

    /* border: 1px solid red; */
  }
</style>