.Main-App {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Emoji {
    animation: Emoji-Spin 2s infinite;
    animation-direction: alternate;
}

@keyframes Emoji-Spin {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}
