
//# Colors ####################################################################
// Monokai pro
$background: #2d2a2e;
$second-background: #403e41;
$foreground: #fcfcfa;
$text: #939293;
$selection-background: #6e6c6f;
$selection-foreground: #ffffff;
$buttons: #403e41;
$disabled: #5b595c;
$contrast: #221f22;
$active: #4a474b;
$border: #2d2a2e;
$accent-color: #ffd866;
$green-color: #a9dc76;
$yellow-color: #ffd866;
$blue-color: #78dce8;
$red-color: #ff6188;
$purple-color: #ab9df2;
$orange-color: #f59762;
$cyan-color: #78dce8;
$gray-color: #727072;
$white-black-color: #fcfcfa;
$error-color: #f65f87;
$comments-color: #727072;
$variables-color: #fcfcfa;
$links-color: #78dce8;
$functions-color: #a9dc76;
$keywords-color: #ff6188;
$tags-color: #ff6188;
$strings-color: #ffd866;
$operators-color: #ff6188;
$attributes-color: #78dce8;
$numbers-color: #ab9df2;
$parameters-color: #f59762;


//# Values ####################################################################
$font-url: 'https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap';
$body-font: 'Ubuntu', sans-serif;
$media-min-width: 720px;
$main-transition: all .3s ease-in-out;