---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<main>
			<slot />
		</main>
	</body>
</html>
<style is:global>
	/* Supports weights 100-700 */
	:root {
		--color-primary: #3a89c9;
		--color-secondary: #9cc4e4;
		--color-tertiary: #e9f2f9;
		--color-accent: #f26c4f;
		--color-accent-light: #ffd866;
		--color-dark: #2e303e;
		--color-gray: #6c6f7e;
		--color-light: #fcfcfa;
	}

	@font-face {
		font-family: 'Roboto Mono Variable', monospace;
		font-style: normal;
		font-weight: 100 700;
		font-display: swap;
	}
	body, html {
		font-family: 'Roboto Mono Variable', monospace;
		margin: 0;
		padding: 0;
	}
	html {
		scroll-behavior: smooth;
		scrollbar-gutter: stable;
	}

	body {
		background-image: radial-gradient(circle, var(--color-gray) 00%, var(--color-dark) 100%);
		background-attachment: fixed;
		height: 100vh;
	}
	main {
		width: 80%;
		max-width: 800px;
		overflow-y: auto;
		margin: 0 auto;
		height: auto;
	}
</style>
