---
import Background from '@/components/Background.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Background />
			<slot />
	</body>
</html>
<style is:global>
	/* Supports weights 100-700 */
	:root {
		color-scheme: dark light;

		--color-primary: #ff6188;
		--color-secondary: #9cc4e4;
		--color-tertiary: #bdc5cb;
		--color-accent: #ffd866;
		--color-dark: #0f172a;
		--color-light: #fcfcfa;
		--color-gray: #6c6f7e;
		--color-blue: #1f3c88;
		--color-green: #00b159;
	}

	@font-face {
		font-family: 'Roboto Mono Variable', monospace;
		font-style: normal;
		font-weight: 100 700;
		font-display: swap;
	}
	*, *::before, *::after {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	body, html {
		font-family: 'Roboto Mono Variable', monospace;
		font-size: 16px;
		line-height: 1.5;
	}
	html {
		scroll-behavior: smooth;
		scrollbar-gutter: stable;
	}

	p {
    text-wrap: pretty;
  }

	a {
    text-decoration: underline;
		color: var(--color-light);
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
	h1 {
		font-size: 2rem;
		color: var(--color-primary);
	}
	h2 {
		font-size: 1.5rem;
		color: var(--color-accent);
	}
	h3 {
		font-size: 1.25rem;
		color: var(--color-tertiary);
	}
	h4 {
		font-size: 1rem;
		color: var(--color-green);
	}

	/* utility classes */
	.white-text {
		color: var(--color-light);
	}
	.mr-1 {
		margin-right: 1rem;
	}

	.gradient-image {
		background-image: linear-gradient(to right, var(--color-primary), var(--color-secondary), var(--color-tertiary));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
</style>
